<footer class="site-footer h-card">
  <data class="u-url" href="{{ " /" | relative_url }}"></data>
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
          <li class="p-name">{{ site.author.name | escape }}</li>
          <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- for social in site.socials -%}
            <li>
              <a
                rel="me" href="{{ social.url }}"
                target="_blank"
                title="{{ social.username }}"
              >
                <img class="svg-icon grey" src="{{ '/assets/svg/#.svg' | replace: '#', social.platform }}" />
                {{ social.username }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </div>
</footer>