---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.sets.size > 0 -%}

  <a class="post-link collapsible-header">
    <h2 class="post-list-heading">Sets</h2>
  </a>
  <p class="post-list collapsible-description">Collections of objects</p>
  <ul class="post-list collapsible-content">
    {% assign posts = site.sets | sort: "order" %}
    {%- for post in posts -%}
    <li>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {{ post.description }}
    </li>
    {%- endfor -%}
  </ul>

  {%- endif -%}

  {%- if site.analysis.size > 0 -%}

  <a class="post-link collapsible-header">
    <h2 class="post-list-heading">Analysis</h2>
  </a>
  <p class="post-list collapsible-description">Real-valued numbers and functions</p>
  <ul class="post-list collapsible-content">
    {%- for post in site.analysis -%}
    <li>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {{ post.description }}
    </li>
    {%- endfor -%}
  </ul>

  {%- endif -%}

  {%- if site.algebra.size > 0 -%}

  <a class="post-link collapsible-header">
    <h2 class="post-list-heading">Algebra</h2>
  </a>
  <p class="post-list collapsible-description">Representations of linear systems</p>
  <ul class="post-list collapsible-content">
    {%- for post in site.algebra -%}
    <li>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {{ post.description }}
    </li>
    {%- endfor -%}
  </ul>

  {%- endif -%}

  {%- if site.probability.size > 0 -%}

  <a class="post-link collapsible-header">
    <h2 class="post-list-heading">Probability</h2>
  </a>
  <p class="post-list collapsible-description">Likelihood of events occurring</p>
  <ul class="post-list collapsible-content">
    {%- for post in site.probability -%}
    <li>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {{ post.description }}
    </li>
    {%- endfor -%}
  </ul>

  {%- endif -%}

  {%- if site.statistics.size > 0 -%}

  <a class="post-link collapsible-header">
    <h2 class="post-list-heading">Statistics</h2>
  </a>
  <p class="post-list collapsible-description">Drawing conclusions from data</p>
  <ul class="post-list collapsible-content">
    {%- for post in site.statistics -%}
    <li>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {{ post.description }}
    </li>
    {%- endfor -%}
  </ul>

  {%- endif -%}

  {%- if site.optimisation.size > 0 -%}

  <a class="post-link collapsible-header">
    <h2 class="post-list-heading">Optimisation</h2>
  </a>
  <p class="post-list collapsible-description">Finding maximum and minimum values</p>
  <ul class="post-list collapsible-content">
    {%- for post in site.optimisation -%}
    <li>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {{ post.description }}
    </li>
    {%- endfor -%}
  </ul>

  {%- endif -%}

</div>

<style>
  .collapsible-content {
    padding-left: 2rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .collapsible-header:hover {
    /*color: grey;*/
    cursor: pointer;
  }

  /* .collapsible-header.active {
    color: grey;
  }*/

</style>

<script>
  const collapsible = document.getElementsByClassName("collapsible-header");

  for (let index = 0; index < collapsible.length; index++) {
    collapsible[index].addEventListener("click", function () {
      this.classList.toggle("active");
      let state = this.classList.value.includes("active")
      let content = this.nextElementSibling.nextElementSibling;
      if (state) {
        content.style.maxHeight = content.scrollHeight + "px";
      } else {
        content.style.maxHeight = 0;
      }
    });
  }
</script>
