---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


    {%- if site.set-theory.size > 0 -%}

      <h2 class="post-list-heading collapsible-header">Set Theory</h2>

        <ul class="post-list collapsible-content">
          {% assign posts = site.set-theory | sort: "order" %}
          {%- for post in posts -%}
          <li>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
              {{ post.description }}
          </li>
          {%- endfor -%}
        </ul>

    {%- endif -%}

    {%- if site.real-analysis.size > 0 -%}

      <h2 class="post-list-heading collapsible-header">Real Analysis</h2>

        <ul class="post-list collapsible-content">
          {%- for post in site.real-analysis -%}
          <li>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
              {{ post.description }}
          </li>
          {%- endfor -%}
        </ul>

    {%- endif -%}

    {%- if site.linear-algebra.size > 0 -%}

      <h2 class="post-list-heading collapsible-header">Linear Algebra</h2>

        <ul class="post-list collapsible-content">
          {%- for post in site.linear-algebra -%}
          <li>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
              {{ post.description }}
          </li>
          {%- endfor -%}
        </ul>

    {%- endif -%}

</div>

<style>
  .collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .collapsible-header:hover {
    color: grey;
    cursor: pointer;
  }

  .collapsible-header.active {
    color: grey;
  }

  .collapsible-header:before {
    content: url('assets/svg/arrow-right.svg');
    width: 1rem;
    height: 1rem;
    color: grey;
  }

  .collapsible-header.active:before {
    content: url('assets/svg/arrow-down.svg');
    width: 1rem;
    height: 1rem;
    color: grey;
  }

</style>

<script>
  const collapsible = document.getElementsByClassName("collapsible-header");

  for (let index = 0; index < collapsible.length; index++) {
    collapsible[index].addEventListener("click", function() {
      this.classList.toggle("active");
      let content = this.nextElementSibling;
      if (content.style.maxHeight) {
        content.style.maxHeight = null;
      } else {
        content.style.maxHeight = content.scrollHeight + "px";
      }
    });
  }
</script>